* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  width: 100%;
  background-image: url("https://cdn.glitch.me/259ebfbc-6750-4cf8-895f-7cb0cf23a2ee%2Fpapper.jpg?v=1634838460528"),
    url("paper.gif");
  font-size: 0;
}

.scroll-bound {
  height: 200vh;
  mix-blend-mode: multiply;
  top: 0;
  font-size: 0px !important;
}

.content {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  mix-blend-mode: multiply;
  font-size: 0px !important;
}

.bound-six {
  height: 200vh;
  width: 100%;
  mix-blend-mode: multiply;
  top: 0;
  font-size: 0px !important;
}
